.logo {
    width: 75px; 
    margin-right: 1rem; 
}

.nav-bar {
    display: flex; 
    background-color: coral; 
    padding: 1rem 0; 
    align-items: center; 
    justify-content: center;
}

.nav-button {
    margin-left: 1rem;
}